<a href="https://colab.research.google.com/github/malowana/NLPDisasterTweets/blob/main/NLP_Disaster_Tweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [4]:
cd '/content/drive/My Drive/Konkursy Kaggle/Disaster Tweets'

/content/drive/My Drive/Konkursy Kaggle/Disaster Tweets

Data taken from https://www.kaggle.com/c/nlp-getting-started/data

In [70]:
train = pd.read_csv('/content/drive/My Drive/Konkursy Kaggle/Disaster Tweets/train.csv').reset_index(drop=True)
test = pd.read_csv('/content/drive/My Drive/Konkursy Kaggle/Disaster Tweets/test.csv').reset_index(drop=True)

In [71]:
train.sample(10)

        id  ... target
4758  6769  ...      0
1852  2663  ...      0
2300  3300  ...      0
1978  2846  ...      0
5687  8116  ...      0
6178  8812  ...      0
2622  3763  ...      0
4771  6789  ...      1
6411  9166  ...      1
3327  4766  ...      1

[10 rows x 5 columns]

Check if there are missing values and fill it

In [72]:
def is_missing(train):
  for column in train.columns:
      missing = column, train[column].isnull().sum()
      if missing[1] == 0: continue
      print(missing)

is_missing(train)
is_missing(test)

('keyword', 61)
('location', 2533)
('keyword', 26)
('location', 1105)

In [73]:
train = train.fillna("other")
test = test.fillna("other")

In [74]:
#concatenate the subsets
all = pd.concat([train, test], sort=False)

In [75]:
all.head()

   id keyword  ...                                               text target
0   1   other  ...  Our Deeds are the Reason of this #earthquake M...    1.0
1   4   other  ...             Forest fire near La Ronge Sask. Canada    1.0
2   5   other  ...  All residents asked to 'shelter in place' are ...    1.0
3   6   other  ...  13,000 people receive #wildfires evacuation or...    1.0
4   7   other  ...  Just got sent this photo from Ruby #Alaska as ...    1.0

[5 rows x 5 columns]

Data cleanup

In [76]:
all.keyword.value_counts()

other                    87
catastrophe              50
screamed                 50
blizzard                 50
hazardous                50
                         ..
forest%20fire            24
threat                   16
radiation%20emergency    14
inundation               14
epicentre                13
Name: keyword, Length: 222, dtype: int64

In [99]:
#keywords
all.loc[all['keyword'].str.contains('murder|bag'), 'keyword'] = 'murder'
all.loc[all['keyword'].str.contains('fire|burn'), 'keyword'] = 'fire'
all.loc[all['text'].str.contains('fire'), 'keyword'] = 'fire'
all.loc[all['keyword'].str.contains('radiation|nuclear|chemical|oil'), 'keyword'] = 'bioterrorism'
all.loc[all['keyword'].str.contains('bomb|loud'), 'keyword'] = 'bomb'
all.loc[all['text'].str.contains('bomb|explode|loud'), 'keyword'] = 'bomb'
all.loc[all['keyword'].str.contains('inundation'), 'keyword'] = 'flooding'
all.loc[all['text'].str.contains('flood|Flood'), 'keyword'] = 'flooding'
all.loc[all['keyword'].str.contains('war|battle|structural'), 'keyword'] = 'war'
all.loc[all['keyword'].str.contains('epicentre|bridge|cliff'), 'keyword'] = 'earthquake'
all.loc[all['text'].str.contains('earthquake|EARTHQUAKE|Earthquake|bridge'), 'keyword'] = 'earthquake'
all.loc[all['keyword'].str.contains('threat|violent'), 'keyword'] = 'danger'
all.loc[all['text'].str.contains('Violent'), 'keyword'] = 'danger'
all.loc[all['keyword'].str.contains('emergency'), 'keyword'] = 'emergency'
all.loc[all['text'].str.contains('emergency'), 'keyword'] = 'emergency'
all.loc[all['keyword'].str.contains('blew|blown|dust'), 'keyword'] = 'windstorm'
all.loc[all['text'].str.contains('hurricane|tornado'), 'keyword'] = 'windstorm'
all.loc[all['keyword'].str.contains('airplane'), 'keyword'] = 'crash'
all.loc[all['text'].str.contains('crash|car'), 'keyword'] = 'crash'
all.loc[all['keyword'].str.contains('first'), 'keyword'] = 'rescued'
all.loc[all['keyword'].str.contains('disaster'), 'keyword'] = 'disaster'
all.loc[all['text'].str.contains('heat|Heat'), 'keyword'] = 'heat'

In [ ]:
all.loc[all['keyword']=='other' ]

In [102]:
#location
all.loc[all['location'].str.contains('Iraq|Pakistan'), 'location'] = 'Asia'
all.loc[all['location'].str.contains('Las Vegas'), 'location'] = 'Las Vegas'
all.loc[all['location'].str.contains('Irleand|Dublin'), 'location'] = 'Irleand'
all.loc[all['location'].str.contains('OH|Ohio'), 'location'] = 'Ohio'
all.loc[all['location'].str.contains('Brazil'), 'location'] = 'Brasil'
all.loc[all['location'].str.contains('MO|Kansas City'), 'location'] = 'Missouri'
all.loc[all['location'].str.contains('umbai|India'), 'location'] = 'India'
all.loc[all['location'].str.contains('Italy|France|Switzerland|Netherlands|Germany|Sweden|Geneva|Rome|Spain'), 'location'] = 'Europe'
all.loc[all['location'].str.contains('Nigeria|Lagos'), 'location'] = 'Nigeria'
all.loc[all['location'].str.contains('Japan|Tokyo'), 'location'] = 'Japan'
all.loc[all['location'].str.contains('Virginia|VA'), 'location'] = 'Virginia'
all.loc[all['location'].str.contains('Hong Kong|china|China'), 'location'] = 'China'
all.loc[all['location'].str.contains('Edinburgh'), 'location'] = 'Scotland'
all.loc[all['location'].str.contains('NC|North Carolina'), 'location'] = 'North Carolina'
all.loc[all['location'].str.contains('Portland'), 'location'] = 'Portland'
all.loc[all['location'].str.contains('Boston|WI|PA|IA|Poenix|Georgia|America|United States|Unites States|U.S.A|US|U.S.|Wisconsin|New Hampshire|Arizona|Midwest|Indiana|Maryland|Pennsylvania|Puerto Rico|Oregon|Michigan'), 'location'] = 'USA'
all.loc[all['location'].str.contains('NJ|NY|New York|NYC|york|nyc'), 'location'] = 'New York'
all.loc[all['location'].str.contains('Sydney'), 'location'] = 'Sydney'
all.loc[all['location'].str.contains('ondon|United Kingdom|England|Coventry|Birmingham|Paignton|Liverpool|Glasgow|Newcastle|UK|Manchester'), 'location'] = 'UK'
all.loc[all['location'].str.contains('Australia|Melbourne|Sydney'), 'location'] = 'Australia'
all.loc[all['location'].str.contains('California|San Diego|Sacramento|San Francisco'), 'location'] = 'California'
all.loc[all['location'].str.contains('Washington'), 'location'] = 'Washington'
all.loc[all['location'].str.contains('Chicago'), 'location'] = 'Chicago'
all.loc[all['location'].str.contains('Los Angeles|Subconscious|LA'), 'location'] = 'Los Angeles'
all.loc[all['location'].str.contains('Seattle, WA'), 'location'] = 'Seattle'
all.loc[all['location'].str.contains('World|orldwide|Earth|Global|The Universe'), 'location'] = 'Everywhere'
all.loc[all['location'].str.contains('TX|Texas|Houston'), 'location'] = 'Texas'
all.loc[all['location'].str.contains('CA|Canada|Toronto|Vancouver|canada|Calgary'), 'location'] = 'Canada'
all.loc[all['location'].str.contains('TN'), 'location'] = 'Tennessee'
all.loc[all['location'].str.contains('FL|Orlando'), 'location'] = 'Florida'
all.loc[all['location'].str.contains('304|house|hell|Taylor|Tunes|stairs|Coffee|ss|Money|Happily Married|MAD as Hell|Billionaires|Word|Pedophile|Narnia|Your screen|Here|Jupiter|Anonymous|really|Breaking|where|All|Some|Innerhalb|Sky|BROKE|Can|Sky'), 'location'] = 'other'
all.loc[all['location'].str.contains('Lagos'), 'location'] = 'Lagos'
all.loc[all['location'].str.contains('Denver'), 'location'] = 'Denver'
all.loc[all['location'].str.contains('New Jersey'), 'location'] = 'New Jersey'
all.loc[all['location'].str.contains('Calgary'), 'location'] = 'Calgary'
all.loc[all['location'].str.contains('Atlanta|atlanta'), 'location'] = 'Atlanta'
all.loc[all['location'].str.contains('Detroit'), 'location'] = 'Michigan'


# occur <20 times -> change to 'other'
ln = all.groupby('location').location.count().sort_values(ascending=False)
ln = ln[ln.values <= 20].index

for loc in ln:
    all.loc[(all.location == loc), 'location'] = 'other'
all.groupby('location').location.count().sort_values()

location
China               21
Portland            21
Las Vegas           25
Atlanta             26
New Jersey          27
Seattle             28
Asia                31
Denver              31
Japan               31
Kenya               32
Virginia            61
Chicago             63
Ohio                63
North Carolina      82
Washington          88
Nigeria             90
Florida             92
Europe              94
Los Angeles         99
Australia          117
India              127
Texas              149
California         161
New York           352
UK                 428
USA                748
other             7789
Name: location, dtype: int64

In [103]:
#new features
all['length_text'] = all['text'].str.len()
all['length_keyword'] = all['keyword'].str.len()
all['length_location'] = all['location'].str.len()
all['word_count'] = all['text'].str.split().str.len()
all['is_upper_text'] = all['text'].str.count(r'[A-Z]')
all['is_digit_text'] = all['text'].str.count(r'[0-9]')
all['%_upper_text'] = all['is_upper_text']/all['length_text']
all['is_#'] = all['text'].str.count(r'#')
all.loc[(all['text'].str.contains("http")), 'is_url'] = 1
all.loc[all['is_url'].isnull(), 'is_url'] = 0
all['is_@'] = all['text'].str.count(r'@')

In [104]:
all.head()

   id     keyword location  ... is_#  is_url  is_@
0   1  earthquake    other  ...    1     0.0     0
1   4        fire    other  ...    0     0.0     0
2   5       other    other  ...    0     0.0     0
3   6        fire    other  ...    1     0.0     0
4   7        fire    other  ...    2     0.0     0

[5 rows x 15 columns]